@{
	ViewData["Title"] = "Home Page";
}
@using (Html.BeginForm("DetalhesPersonagem", "Home", FormMethod.Post, new {@id = "form"}))
{
	<hr/>
	<form>
		<fieldset>
			<legend>Heróis Marvel</legend>
			<div class="form-group">
				<label for="exampleSelect1">Nome do Personagem</label>
				<input class="form-control form-control-lg" type="text" placeholder="Nome do Personagem" id="name" name="name" style="width: 400px">
				<input type="submit" value="Enviar" class="form-control" style="width: 100px;float: left"/>
			</div>
		</fieldset>
	</form>
}
	
<hr/>
@foreach (var itens in ViewBag.ListaPersonagens)
{
	<div class="card border-primary mb-3" style="max-width: 20rem; margin-left: 30px;float:left">
	    <div class="card-header"><a style="cursor:pointer" onclick="location.href='@Url.Content("~/Home/DetalhesPersonagem/?name="+@itens.Nome+"")'">@itens.Nome</a></div>
		<div class="card-body">
		    <h4 class="card-title"><a style="cursor:pointer" onclick="location.href='@Url.Content("~/Home/DetalhesPersonagem/?name="+@itens.Nome+"")'"><img src="@itens.UrlImagem" /></a></h4>

		</div>
	</div>
}
<div>
	<ul class="pagination">
	    <li class="page-item disabled">
	        <a class="page-link" href="#">&laquo;</a>
	    </li>
        @for (var i=0; i <= ViewBag.totalpaginas; i++)
        {
            <li class="page-item active">
                <a class="page-link" style="cursor:pointer"  onclick="location.href='@Url.Content("~/Home/Index/?pagina="+@i)'">@i</a>
            </li>
        }
		
	
		<li class="page-item">
			<a class="page-link" href="#">&raquo;</a>
		</li>
	</ul>
</div>